[Unit]
Description=ble scan
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/Projects/pi-garmin-bluetooth/ble_scan.sh
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
